<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WaterMilkTeaDB" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=WaterMilkTeaDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <sessionState mode="InProc" timeout="60" />
    <pages buffer="true" validateRequest="false" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
